@model IEnumerable<Assignment20.Models.TWEET>

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.PERSON.fullname)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.message)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.created)
        </th>
       
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.PERSON.fullname)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.message)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.created)
        </td>
       
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.tweet_id }) |
            @Html.ActionLink("Details", "Details", new { id=item.tweet_id }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.tweet_id })
        </td>
    </tr>
}

</table>
